body {
	padding-top: 80px;
	background-color: #2A2E39;
}

#console {
	font-family: courier, monospace;
	color: #fff;
	font-size:16px;
}

@media screen and (max-width: 600px) {
	#console {
		font-size: 14px;
	}
}

#a {
	color: #0f0;
}

#prompt {
	color: #39CCCC;
}

#tilde {
	color: crimson;
}

#item {
	color: #39CCCC;
}

#k {
    	animation: change 1s;
}

#op {
    	color: #888888
}

.window {
	height: 400px;
	max-width: 600px;
	background-color: rgba(0,0,0,0.3);
	border-radius: 4px;
	margin: 0 auto;
	padding: 15px;
}

@keyframes change {
    	0%  { color:  #0f0; }
    	50% { color:  #0f0; }
    	99% { color: black; }
}
